$(function () {
        $('#highcharts_div').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Data-tracker'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thurs',
                    'Fri',
                   
                    'Last Week Summary',
                    
               ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Quantity'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td><td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Specks',
                data: [<%= Datum.specks_data %>]
            }, {
                name: 'Light Leaks',
                data: [<%= Datum.light_leaks_data %>]
    
            }, {
                name: 'Holes',
                data: [<%= Datum.holes_data %>]
    
            }, {
                name: 'Boron Cracks',
                data: [<%= Datum.boron_cracks_data %>]
    
            }]
        });
    });